.task {
  width: 100%;
  padding: 0 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.task p {
  font-size: 14px;
  line-height: 19px;
  color: #F2F2F2;
  margin-right: auto;
  padding: 10px;
}

p.textCompleted {
  color: #878787;
  text-decoration: line-through;
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #ffffff;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.deleteButton {
  background: none;
  border: none;
  color: #ffffff;
  padding: 0 px;
}

.deleteButton:hover {
  background-color: gray;
  opacity: 70%;
  width: 28px;
  height: 28px;
  border-radius: 30px;
}

.editButton {

  background: none;
  border: none;
  color: #ffffff;
  padding: 0 px;
  background: transparent;

}

.editButton:hover {
  opacity: 70%;
  width: 28px;
  height: 28px;
  border-radius: 30px;
  background: transparent;
  outline: none;
}



.editInputField {
  color: rgb(255, 255, 255);
  background: transparent;
  border-radius: 20px;
  padding: 5px 5px;
  outline: none;
  border: 2px solid transparent; /* Default style */
}

.editInputField:focus {
  border-color: #ffffff; /* Style when in focus */
}