Header {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 40px;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 24px;
    padding-top: 3%;
}

time {
    color: #ffffff;
    font-size: 150px;
}
