Header {
    display: flex;
    flex-direction: column; /* Add this line to stack elements vertically */
    align-items: center;
    justify-content: center; /* Add this line to center elements vertically */
    font-size: 40px;
    flex-wrap: wrap;
}